@import "compass";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

/* ===LAYOUT MIXINS=== */

// Wrapper defines the max width something text-based should see
// While the site background is fully responsive we shouldn't scale
// all the way up %wrapper { padding: 0 $gutter;
%wrapper {
    @media(min-width: rem-to-em($wrapper-width, $font-size-browser)) {
        max-width: $wrapper-width;
        margin: 0 auto;
    }
}


/* ===LAYOUT STRUCTURE=== */

body { }

.top {
    min-height: 10rem;
    width: 100%;
    background-color: $header-background-color;
}

.header {
    @include clearfix;
    @extend %wrapper;
}

.main {
    @extend %wrapper;
    margin-top: $gutter; }

.footer {
    @extend %wrapper;
    margin-top: 3*$gutter;
    margin-bottom: $gutter;
}

/* ===HEADER=== */
.header {
    padding: $gutter;
    padding-top: $gutter/2;
    @include clearfix;

    .branding {
        @media(min-width: 40em) {
            padding-right: 10rem;
        }
    }
}

/* ===NAVIGATION=== */
.nav-collapse {
    @include clearfix;
    width: 100%;
    li {
        margin: 0;
        padding: 0;
        a {
            background-color: $color-navigation-background;
            color: $color-navigation-link;
            font: $font-navigation;
            font-size: 1.8rem;;
            padding: $gutter $gutter;
            display: block;

        }
    }

    li.active a {
        background-color: $color-navigation-background-active;
        color: $color-navigation-link-active;
    }

    &:before {
        clear: left;
    }
}

@media(min-width: 40em) {
    .nav-collapse {
        margin-top: 2.6rem;
        float: right;
        width: 50%;
        li a {
            float: left;
        }
    }
}


/* ===SIGNUP=== */
.signup {
    padding: 2*$gutter;
    margin: auto;
    position: relative;
    max-width: 55rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease 0s;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
   
    &:hover {
        background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
        border-radius: 2px;
        transition: all 0.5s ease 0s;
    }

    h2, h3 {
        color: #fff;
    }

    input, button, select {
        padding: $gutter;
        font-size: 2rem;
        border: none;
        height: 6rem;
    }

    input[type="text"] {
        box-shadow: 3px 3px 1px #808080;  
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        margin-right: -0.6rem;
    }

    select {
        box-shadow: 1px 3px 1px #808080;
    }

    .button {
        box-shadow: 3px 3px 1px #808080;  
        background: none repeat scroll 0% 0% $color-accent1;
        border-radius: 0px 2px 2px 0px;
        min-width: 12rem;
    }

    @media(min-width: 30rem) {
        input[type="text"] {
            width: auto;
        }
        select { 
            margin-right: -0.6rem;
        }
    }
}

@media(min-width: 40em) {
    .signup {
        top: 8rem;
    }
}


/* ===COVER=== */
.cover {
    background: url('../img/alps.jpg') no-repeat;
    background-position: top center;
        min-height: 45rem;
    @include background-size(cover);
}
