/* ===BRANDING=== */

.branding {
    .icon-mailgenic {
        float: left;
        width: 8rem;
        height: 8rem;
        float: left;
    }

    h1 {
        float: left;
        margin-top: 3rem;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .nav-toggle {
        float: right;
        margin-top: 2.6rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        width: 4rem;
        height: 4rem;
        background-color: $color-accent1;
        margin-left: $gutter;
    }

    .icon-menu {
        padding-bottom: 0.7rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .icon-menu * {
         fill: #fff;
    }

    @media(min-width: 27rem) {
        .icon-mailgenic {
        }

        .branding-container {
        }
    }
}

/* ===FEATURES=== */
.feature {
    @include clearfix;
    background: none repeat scroll 0% 0% #F0F0F0;
    padding: $gutter;
    border: 5px solid #fff;

    .circle {
        @include clearfix;
        border-radius: 50%;
        overflow: hidden;
        background: none repeat scroll 0% 0% $color-accent1;;
        position: relative;
        z-index: 99999;
        text-align: center;
        width: 8rem;
        height: 8rem;
        float: left;
        padding-top: 2rem;
    }

    .desc {
        float: left;
        margin-left: 2*$gutter;
        width: 70%;
    }

    .icon {
        text-align: center;
        height: 4rem;
        width: 4rem;
    }

    .icon * {
        fill: #fff;
    }
}

.features {
    @include clearfix;
}

@media(min-width: 55rem) {
    .feature {
        height: 15rem;
        width: 50%;
        float:left;
    }
}

/* ===REGISTRATION=== */
.domain-info {
    font-size: 5rem;
}

.domain {
    font-size: 9rem;
}
