/* ===BRANDING=== */

.branding {
    .icon-mailgenic {
        float: left;
        width: 8rem;
        height: 8rem;
        float: left;
    }

    h1 {
        font-size: 3.2rem;
        color: $color-accent1;
        float: left;
        margin-top: 3rem;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .nav-toggle {
        float: right;
        margin-top: 3.2rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        width: 4rem;
        height: 4rem;
        background-color: $color-accent1;
        margin-left: $gutter;
    }

    .icon-menu {
        padding-bottom: 0.7rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .icon-menu * {
         fill: #fff;
    }

    @media(min-width: 27rem) {
        .icon-mailgenic {
        }

        .branding-container {
        }
    }
}

/* ===FEATURES=== */
.feature {
    @include clearfix;
    background: none repeat scroll 0% 0% $color-gray;
    padding: $gutter;
    border: 7px solid $color-background;

    .circle {
        @include clearfix;
        border-radius: 50%;
        overflow: hidden;
        background: none repeat scroll 0% 0% $color-accent1;;
        position: relative;
        z-index: 99999;
        text-align: center;
        width: 8rem;
        height: 8rem;
        float: left;
        padding-top: 2rem;
    }

    .desc {
        float: left;
        margin-left: 2*$gutter;
        width: 70%;
    }

    .icon {
        text-align: center;
        height: 4rem;
        width: 4rem;
    }

    .icon * {
        fill: #fff;
    }
}

.features {
    @include clearfix;
}

@media(min-width: 55rem) {
    .feature {
        height: 13rem;
        width: 50%;
        float:left;
    }
}

/* ===SIGNUP=== */
.signup {
    padding: 2*$gutter;
    margin: auto;
    position: relative;
    max-width: 55rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease 0s;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

    &:hover {
        background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
        border-radius: 2px;
        transition: all 0.5s ease 0s;
    }

    h2, h3 {
        color: #fff;
    }

    input, button, select {
        padding: $gutter;
        font-size: 2rem;
        border: none;
        height: 6rem;
    }

    input[type="text"] {
        box-shadow: 3px 3px 1px #808080;
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        margin-right: -0.6rem;
    }

    select {
        box-shadow: 1px 3px 1px #808080;
    }

    .button {
        box-shadow: 3px 3px 1px #808080;
        background: none repeat scroll 0% 0% $color-accent1;
        border-radius: 0px 2px 2px 0px;
        min-width: 12rem;
    }

    @media(min-width: 30rem) {
        input[type="text"] {
            width: auto;
        }
        select {
            margin-right: -0.6rem;
        }
    }
}

@media(min-width: 44em) {
    .signup {
        top: 8rem;
    }
}

/* ===REGISTRATION=== */
.domain-info {
    margin-top: 4*$gutter;
    background: none repeat scroll 0% 0% $color-gray;
    padding: $gutter;
    border: 7px solid $color-background;

    h3 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 5rem;
        color: $color-good;
    }

    h2.unavailable {
        text-decoration: line-through;
        color: $color-bad;
    }

    .circle {
        @include clearfix;
        border-radius: 50%;
        overflow: hidden;
        background: none repeat scroll 0% 0% $color-accent1;
        position: relative;
        z-index: 99999;
        text-align: center;
        top: 1rem;
        float: left;
        margin-right: $gutter;
        width: 8rem;
        height: 8rem;
        padding-top: 2rem;
    }

    .circle-bad {
        background: none repeat scroll 0% 0% $color-bad;

    }

    .circle-good {
        background: none repeat scroll 0% 0% $color-good;

    }

    .icon {
        text-align: center;
        height: 4rem;
        width: 4rem;
    }

    .icon * {
        fill: #fff;
    }
}

