/* ===BRANDING=== */

.branding {
    .icon-mailgenic {
        float: left;
        width: 8rem;
        height: 8rem;
        float: left;
    }

    h1 {
        font-size: 3.2rem;
        color: $color-accent1;
        float: left;
        margin-top: 3rem;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .nav-toggle {
        float: right;
        margin-top: 3.2rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        width: 4rem;
        height: 4rem;
        background-color: $color-accent1;
        margin-left: $gutter;
    }

    .icon-menu {
        padding-bottom: 0.7rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .icon-menu * {
         fill: #fff;
    }

    @media(min-width: 27rem) {
        .icon-mailgenic {
        }

        .branding-container {
        }
    }
}

/* ===PROGRESS INDICATOR=== */
.progress {
    margin-bottom: 2*$gutter;

    a, a:after {
        color: $color-text;
        background: $color-gray;
        transition: all 0.5s;
    }

    a:hover, a.active, a:hover:after, a.active:after{
        background: $color-accent1;
        color: white;
    }

    a {
        font-size: 2rem;
        line-height: 4rem;
        text-decoration: none;
        outline: none;
        display: inline-block;
        padding: 0 4rem 0 7rem;
        position: relative;
    }

    a:after {
        content: '';
        position: absolute;
        top: 0;
        right: -2rem;
        width: 4rem;
        height: 4rem;
        transform: scale(0.707) rotate(45deg);
        z-index: 1;
        box-shadow: 2px -2px 0px 2px #ccc;
    }

    a:last-child:after {
        content: none;
    }

    span.name {
        visibility: hidden;
        display: block;
        width: 0rem;
    }

    span.step {
        display: block;
        background: white;
        box-shadow: 0 0 0 1px #ccc;
        color: $color-text;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        padding-left: 1rem;
        line-height: 3rem;
        margin: 0.5rem 0;
        position: absolute;
        top: 0;
        left: 3rem;
        font-weight: bold;
    }

    @media(min-width: 40rem) {
        a {
            width: 30%;
        }

        span.name {
            visibility: visible;
            display: inline;
            width: auto;
        }
    }
}

/* ===FEATURES=== */
.feature {
    @include clearfix;
    background: none repeat scroll 0% 0% $color-gray;
    padding: $gutter;
    border: 7px solid $color-background;

    .circle {
        @include clearfix;
        border-radius: 50%;
        overflow: hidden;
        background: none repeat scroll 0% 0% $color-accent1;;
        position: relative;
        z-index: 99999;
        text-align: center;
        width: 8rem;
        height: 8rem;
        float: left;
        padding-top: 2rem;
    }

    .desc {
        float: left;
        margin-left: 2*$gutter;
        width: 70%;
    }

    .icon {
        text-align: center;
        height: 4rem;
        width: 4rem;
    }

    .icon * {
        fill: #fff;
    }
}

.features {
    @include clearfix;
}

@media(min-width: 55rem) {
    .feature {
        height: 13rem;
        width: 50%;
        float:left;
    }
}

/* ===SIGNUP=== */
.signup {
    padding: 2*$gutter;
    margin: auto;
    position: relative;
    max-width: 55rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease 0s;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

    &:hover {
        background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
        border-radius: 2px;
        transition: all 0.5s ease 0s;
    }

    h2, h3 {
        color: #fff;
    }

    input, button, select {
        padding: $gutter;
        font-size: 2rem;
        border: none;
        height: 6rem;
    }

    input[type="text"] {
        box-shadow: 3px 3px 1px #808080;
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        margin-right: -0.6rem;
    }

    select {
        box-shadow: 1px 3px 1px #808080;
    }

    .button {
        box-shadow: 3px 3px 1px #808080;
        background: none repeat scroll 0% 0% $color-accent1;
        border-radius: 0px 2px 2px 0px;
        min-width: 12rem;
    }

    @media(min-width: 30rem) {
        input[type="text"] {
            width: auto;
        }
        select {
            margin-right: -0.6rem;
        }
    }
}

@media(min-width: 44em) {
    .signup {
        top: 8rem;
    }
}

/* ===REGISTRATION=== */
.domain-info {
    background: none repeat scroll 0% 0% $color-gray;
    padding: $gutter;

    h3 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 5rem;
        color: $color-good;
    }

    h2.unavailable {
        text-decoration: line-through;
        color: $color-bad;
    }

    .circle {
        @include clearfix;
        border-radius: 50%;
        overflow: hidden;
        background: none repeat scroll 0% 0% $color-accent1;
        position: relative;
        z-index: 99999;
        text-align: center;
        top: 1rem;
        float: left;
        margin-right: $gutter;
        width: 8rem;
        height: 8rem;
        padding-top: 2rem;
    }

    .circle-bad {
        background: none repeat scroll 0% 0% $color-bad;

    }

    .circle-good {
        background: none repeat scroll 0% 0% $color-good;

    }

    .icon {
        text-align: center;
        height: 4rem;
        width: 4rem;
    }

    .icon * {
        fill: #fff;
    }
}

.card-type {
    margin-top: 2*$gutter;
    display: block;
}


.creditcard {
    width: 7rem;
    margin-right: 2*$gutter;
}


@mixin button-big {
    font-size: 3.5rem;
    padding: $gutter;
}

.button-continue {
    @include button-big;
}

.button-buy {
    @include button-big;
    margin-top: 4*$gutter;

    .icon * {
        fill: #fff;
    }
}

.creditcard-info {
    input {
        width: 49.5%;
        display: inline-block;
    }

    input + input {

    }
}

.contact {
    margin-top: 2*$gutter;
    padding: $gutter;

    .icon * {
        fill: #222;
    }
}

@media(min-width: 44em) {
    .contact, .email-adresses {
        width: 50%;
        float: left;
    }
}

.email-info {
    margin-top: 2*$gutter;
    background-color: #DBF2F2;
    padding: $gutter;
    padding-bottom: 0;

    .icon * {
        fill: #137373;
    }
}

.billing {
    margin-top: 2*$gutter;
    background-color: #FFF5ED;
    padding: $gutter;

    .icon * {
        fill: #E28B43;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        display: inline-block;
        cursor: pointer;
    }

    .verisign {
        height: 2em;
        float: right;
    }
}

.email-adresses {
    margin-top: 2*$gutter;
    padding: $gutter;

    .icon * {
        fill: #222;
    }
}

@import "compass/css3/transition";

ul.email-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 1.5*$gutter $gutter;
        font-size: 2rem;
        list-style-type: none;
        border-bottom: 1px solid #ccc;

        a {
            float: right;
            margin-left: $gutter;
        }

        .remove .icon * {
            fill: #CF3030;
        }

        .edit .icon * {
            fill: #111;
        }

        .icon {
            visibility:hidden;
            opacity:0;
            @include transition(opacity 0.3s linear)
        }

        &:last-child {
            padding-left: 0;
            padding-right: 0;
            border-bottom: none;
        }

        input {
            margin-top: 0;
        }

        &:hover {
            .icon {
                visibility:visible;
                opacity:1;
            }
        }
    }
}

.pricing {
    //background-color: #DBF2F2;
    background-color: #fff;
    padding: $gutter;
    margin-top: 2*$gutter;

    .icon * {
        fill: #222;
    }
}

@media(min-width: 50em) {
    .pricing {
        margin-right: 2%;
    }

    .pricing, .billing {
        width: 49%;
        float: left;
        min-height: 30rem;
    }
}


ul.price-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 1.5*$gutter $gutter;
        padding-left: 0;
        font-size: 2rem;
        line-height: 1.3 * 2rem;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        @include clearfix;

        a {
            float: right;
            margin-left: $gutter;
        }

        .item {
            float: left;
        }

        .price {
            float: right;
            font-size: 4rem;
            line-height: 1.3 * 4rem;
        }

        &:last-child {
            border-bottom: none;
        }

        input {
            margin-top: 0;
        }
    }

    li.total {
        .item {
            font-size: 4rem;
            line-height: 1.3 * 4rem;
        }
    }
}
