{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    {% include "branding.html" with hide_toggle=True %}
    {% include "progress.html" with step=2 %}
{% endblock %}

{% block content %}
<div class="main">
    {% include "domain_info.html" %}
    <form method="post">
        {% csrf_token %}
        <div class="contact">
            <h2>
                <img class="icon" src="{% static 'svg/person.svg' %}">
                <span>Contact Details</span>
            </h2>
          
            <label for="name">{% trans "Name" %}</label>
            <input name="name" type="text" placeholder="{% trans "Name" %}" /></input>
           
            <label for="contact">{% trans "Email" %}</label>
            <input name="contact" type="text" placeholder="{% trans "Current email address" %}" /></input>
            
            <label for="password">{% trans "Password" %}</label>
            <input name="password" type="password" placeholder="{% trans "Password" %}" /></input>
        </div>
        <div class="email-info">
            <h3>
                <img class="icon" src="{% static 'svg/shield.svg' %}">
                <span>Protected Privacy!</span>
            </h3>
            <p>
                We respect your privacy and keep your information safe and secure.
                We use your email only for contacting you if something goes wrong
                or you forget your password.
            </p>
        </div>
        <br clear="all" />
        <button class="button-continue button-primary">
            {% trans "Create Account" %}
        </button>
    </form>
</div>
{% endblock %}

