{% extends 'base.html' %}
{% load i18n %}

{% block header %}
    {% include "branding.html" with hide_toggle=True %}
    {% include "progress.html" with step=2 %}
{% endblock %}

{% block content %}
<div class="main">
    {% include "domain_info.html" %}
    <form method="post">
        {% csrf_token %}
        <div class="contact">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/person.svg">
                <span>Contact Details</span>
            </h2>
            <p>
                We need your name and old email adress for contacting you
                if something goes wrong or you forget your password.
            </p>
            <input name="name" type="text" placeholder="{% trans "Name" %}" /></input>
            <input name="contact" type="text" placeholder="{% trans "Current email address" %}" /></input>
        </div>
        <button class="button-continue button-primary">
            {% trans "Register domain" %}
        </button>
    </form>
</div>
{% endblock %}

