{% load staticfiles %}
<form class="domain-search">
    <input id="domain" type="text" name="domain" placeholder="Type to search for a domain name"></input>
    <button class="button button-primary">
        <img class="icon" src="{% static 'svg/magnifying-glass.svg' %}" alt="search" />
        <span>Search</span>
    </button>
</form>
<ul class="domain-results">
    {% for suggestion in suggested_domains %}
        {% if suggestion.available %}
        <li class="good">
            <a href="{% url 'domain' %}?domain={{ suggestion.domain }}&tld={{ suggestion.tld }}">
                <div class="circle circle-good">
                    <img class="icon" src="{% static 'svg/thumb-up.svg' %}" alt="thumb up" />
                </div>
                <span>{{ suggestion.domain }}.{{ suggestion.tld }}</span>
            </a>
        </li>
        {% else %}
        <li class="bad">
            <a href="{% url 'domain' %}?domain={{ suggestion.domain }}&tld={{ suggestion.tld }}">
                <div class="circle circle-bad">
                    <img class="icon" src="{% static 'svg/thumb-down.svg' %}" alt="thumb down" />
                </div>
                <span>{{ suggestion.domain }}.{{ suggestion.tld }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
