{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    {% include "branding.html" with hide_toggle=True %}
    {% include "progress.html" with step=1 %}
{% endblock %}

{% block content %}
<div class="main">
    {% include "domain_info.html" %}
    {% include "domain_search.html" %}
    <form method="post">
        {% csrf_token %}
        {% if available %}
            <button type="submit" class="button-continue button-primary">
                {% trans "Register domain" %}
            </button>
        {% else %}
            <button type="submit" class="button-continue button-primary">
                {% trans "Transfer domain" %}
            </button>
        {% endif %}
    </form>
</div>
{% endblock %}
