{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="main">
    {% include 'progress.html' with step=1 %}
    <div class="domain-info">
    {% if available %}
        <div class="circle circle-good">
            <img class="icon" src="{{ STATIC_URL }}svg/thumb-up.svg" alt="transparency" />
        </div>
        <h3>{% trans "Your domain is available" %}</h3>
        <h2>{{ domain }}</h2>
    {% else %}
        <div class="circle circle-bad">
            <img class="icon" src="{{ STATIC_URL }}svg/thumb-down.svg" alt="transparency" />
        </div>
        <h3>{% trans "Your domain is already taken" %}</h3>
        <h2 class="unavailable">{{ domain }}</h2>
    {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="email-adresses">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/envelope-closed.svg">
                <span>Email Adresses</span>
            </h2>
            <p>
            Specify all email adresses you want to use with your custom domain.
            You can always add more adresses later.
            </p>
            <ul class="email-list">
                <li>
                    <span>mail@{{ domain }}</span>
                    <a class="remove" href="#">
                        <img class="icon" src="{{ STATIC_URL }}svg/trash.svg">
                    </a>
                    <a class="edit" href="#">
                        <img class="icon" src="{{ STATIC_URL }}svg/pencil.svg">
                    </a>
                </li>
                <li>
                    <input name="new_mail" type="text" placeholder="yourname@{{ domain }}"></input>
                </li>
            </ul>
        </div>
    <!--
    <div class="email-info">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/info.svg">
                <span>Examples</span>
            </h2>
            <ul>
                <li>
                    <em>mail@{{ domain }}</em>
                </li>
                <li>
                    <em>me@{{ domain }}</em>
                </li>
                <li>
                    <em>firstname@{{ domain }}</em>
                </li>
            </p>

    </div>-->
        <button class="button-continue button-primary">
            {% trans "Register domain" %}
        </button>
    </form>
</div>
{% endblock %}

