{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
    {% include "branding.html" with hide_toggle=True %}
    {% include "progress.html" with step=3 %}
{% endblock %}

{% block content %}
<div class="main">
    {% include "domain_info.html" %}
    <form>
        {% csrf_token %}
        <div class="pricing">
            <h2>
                <span>Pricing</span>
            </h2>
            <ul class="price-list">
                <li>
                    <div class="item">
                        <em>Domain Registration</em>
                        <br />for {{ full_domain }}
                    </div>
                    <div class="price">
                        $10
                    </div>
                </li>
                <li>
                    <div class="item">
                        <em>Email Hosting</em>
                        <br />for {{ full_domain }}
                    </div>
                    <div class="price">
                        $15
                    </div>
                </li>
                <li class="total">
                    <div class="item">
                        <em>Total</em>
                    </div>
                    <div class="price">
                        <em>$25</em>
                    </div>
                </li>
            </ul>
        </div>
        <div class="billing">
            <h2>
                <img class="icon" src="{% static 'svg/lock-locked.svg' %}">
                <span>Billing</span>
                <img class="verisign" src="{% static 'img/verisign-secured.png' %}">
            </h2>
            <input name="creditcard" type="text" placeholder="{% trans "Card Number" %}" /></input>
            <div class="creditcard-info">
                <input name="expiration" type="text" placeholder="{% trans "MM/YY" %}" /></input>
                <input name="cvc" type="text" placeholder="{% trans "CVC" %}" /></input>
            </div>
            <div class="card-type">
                <input type="radio" name="cardtype" id="visa"></input> <label for="visa">
                    <img class="creditcard" src="{% static 'svg/visa.svg' %}">
                </label>
                <input type="radio" name="cardtype" id="mastercard"></input>
                <label for="mastercard">
                    <img class="creditcard" src="{% static 'svg/mastercard.svg' %}">
                </label>
                <input type="radio" name="cardtype" id="american-express"></input>
                <label for="american-express">
                    <img class="creditcard" src="{% static 'svg/american-express.svg' %}">
                </label>
            </div>
            </div>
        <button class="button button-primary button-buy">
            <img class="icon" src="{% static 'svg/cart.svg' %}">
            <span>{% trans "Buy domain" %}</span>
        </button>
    </form>
</div>
{% endblock %}
