{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="main">
    <div class="domain-info">
    {% if available %}
        <div class="circle circle-good">
            <img class="icon" src="{{ STATIC_URL }}svg/thumb-up.svg" alt="transparency" />
        </div>
        <h3>{% trans "Your domain is available" %}</h3>
        <h2>{{ domain }}</h2>
    {% else %}
        <div class="circle circle-bad">
            <img class="icon" src="{{ STATIC_URL }}svg/thumb-down.svg" alt="transparency" />
        </div>
        <h3>{% trans "Your domain is already taken" %}</h3>
        <h2 class="unavailable">{{ domain }}</h2>
    {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="contact">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/person.svg">
                <span>Contact Details</span>
            </h2>
            <p>
                We need your name and old email adress for contacting you
                if something goes wrong or you forget your password.
            </p>
            <input name="name" type="text" placeholder="{% trans "Name" %}" /></input>
            <input name="contact" type="text" placeholder="{% trans "Current email address" %}" /></input>
        </div>
        <div class="email-adresses">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/envelope-closed.svg">
                <span>Email Adresses</span>
            </h2>
            <p>
            Specify all email adresses you want to use with your custom domain.
            You can always add more adresses later.
            </p>
            <ul class="email-list">
                <li>
                    <span>mail@{{ domain }}</span>
                    <a class="remove" href="#">
                        <img class="icon" src="{{ STATIC_URL }}svg/trash.svg">
                    </a>
                    <a class="edit" href="#">
                        <img class="icon" src="{{ STATIC_URL }}svg/pencil.svg">
                    </a>
                </li>
                <li>
                    <input name="new_mail" type="text" placeholder="yourname@{{ domain }}"></input>
                </li>
            </ul>
        </div>
    <!--
    <div class="email-info">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/info.svg">
                <span>Examples</span>
            </h2>
            <ul>
                <li>
                    <em>mail@{{ domain }}</em>
                </li>
                <li>
                    <em>me@{{ domain }}</em>
                </li>
                <li>
                    <em>firstname@{{ domain }}</em>
                </li>
            </p>

    </div>-->
        <!--
        <div class="billing">
            <h2>
                <img class="icon" src="{{ STATIC_URL }}svg/lock-locked.svg">
                <span>Billing</span>
                <img class="verisign" src="{{ STATIC_URL }}img/verisign-secured.png">
            </h2>
            <input name="creditcard" type="text" placeholder="{% trans "Card Number" %}" /></input>
            <div class="creditcard-info">
                <input name="expiration" type="text" placeholder="{% trans "MM/YY" %}" /></input>
                <input name="cvc" type="text" placeholder="{% trans "CVC" %}" /></input>
            </div>
            <div class="card-type">
                <input type="radio" name="cardtype" id="visa"></input> <label for="visa">
                    <img class="creditcard" src="{{ STATIC_URL }}svg/visa.svg" />
                </label>
                <input type="radio" name="cardtype" id="mastercard"></input>
                <label for="mastercard">
                    <img class="creditcard" src="{{ STATIC_URL }}svg/mastercard.svg" />
                </label>
                <input type="radio" name="cardtype" id="american-express"></input>
                <label for="american-express">
                <img class="creditcard" src="{{ STATIC_URL }}svg/american-express.svg" />
                </label>
            </div>
            </div>-->
        <!--<button class="button button-primary button-buy">
            <img class="icon" src="{{ STATIC_URL }}svg/cart.svg">
            <span>{% trans "Buy domain" %}</span>
            </button>-->
        <button class="button-continue button-primary">
            {% trans "Register domain" %}
        </button>
    </form>
</div>
{% endblock %}

