/*===RATING===*/
$color-a: #259B24;
$color-b: #9CCC65;
$color-c: #CDDC39;

.rating {
    @include circular($profile-diameter);
    color: white;
    font-size: 0.6 * $profile-diameter;
    line-height: $profile-diameter;
    text-align: center;
    text-transform: uppercase;
}

.rating-a {
    @extend .rating;
    background-color: $color-a;
}

.rating-b {
    @extend .rating;
    background-color: $color-b;
}

.rating-c {
    @extend .rating;
    background-color: $color-c;
}
