/*===SEARCH===*/
$search-button-size: 10rem;

.search {
    margin-bottom: 4*$gutter;
    position: relative;

    input[type="text"], .button {
        font-size: 1.4em;
        border: 2px solid #3F51B5;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    }

    input[type="text"] {
        padding: 0.5em;
        color: #999;
        outline: medium none;
        border-radius: 2px;
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        padding-right: $search-button-size + 2*$gutter;
    }

    .button {
        width: $search-button-size;
        position: absolute;
        right: 0;
    }
}
