/*===TALENT ROW===*/
$talent-highlight-color: $accent-light-color;
$talent-remarks-color: #777;
$talent-hover-color: rgba(0, 0, 0, 0.035);

.row > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: $gutter;
}

.row {
    .rating {
        width: $profile-diameter;
    }
    .profile {
        width: $profile-diameter;
    }
    .name {
        width: 20rem;
    }
    .field-of-study {
        width: 10rem;
        display: none;
        @media(min-width: 45rem) {
            display: inline-block;
        }
    }

    .met-where {
        width: 10rem;
        display: none;
        @media(min-width: 55rem) {
            display: inline-block;
        }
    }

    .interests {
        display: none;
            @media(min-width: 65rem) {
            display: inline-block;
        }
    }
}

/*===TALENT===*/
.talents {
    @include paper;
}

.talent-header, .talent {
    padding: $gutter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);
}

.talent-header {
    @include paper;
    font-weight: 700;
    background-color: #3F51B5;
    border-radius: 2px;
    color: white;
}

.talent {
    &:hover {
        background: $talent-hover-color;
        cursor: pointer;
    }

    .details {
        margin-top: $gutter;
    }

    .remarks {
        vertical-align: top;
        max-width: 3 * 10rem + 3 * $gutter;
        min-height: 5rem;
        padding: $gutter;
        color: $talent-remarks-color;
        background: rgba(0, 0, 0, 0.035);
    }

    .details, .remarks, .talent-actions {
        display: none;
    }
}

.talent.selected {
    @include paper;
    background-color: white;
    cursor: default;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    border-left: 5px solid $talent-highlight-color;

    .details, .talent-actions {
        display: block;
    }

    .remarks {
        display: inline-block;
    }
}

.talent-actions {
    a {
        margin-top: $gutter;
        margin-left: $gutter;
        display: block;
        @media(min-width: 35rem) {
            display: inline-block;
        }
    }
}
