/*===TALENT===*/
.talents {
    @include paper;
}

section {
    max-width: 90rem;
}

.row {
    .rating {
        width: $profile-diameter;
    }
    .profile {
        width: $profile-diameter;
    }
    .name {
        width: 20rem;
    }
    .field-of-study {
        width: 10rem;
    }
    .met-where {
        width: 10rem;
    }
}

.row > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: $gutter;
}

.talent-header {
    @include paper;
    font-weight: 700;
    padding: $gutter;
    background-color: #3F51B5;
    border-radius: 2px;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);
}

.talent {
    padding: $gutter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);

    &:hover {
        background: rgba(0, 0, 0, 0.035);
        cursor: pointer;
    }

    .row {
        .profile {
            @include circular($profile-diameter);
        }
    } 
}

.talent.selected {
    @include paper;
    cursor: default;
    background-color: white;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    border-left: 5px solid #5677FC;
    
    .details {
        margin-top: $gutter;
    }

    .properties {
        display: inline-block;
        width: 2*$profile-diameter + 20rem + 3*$gutter;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0px;

        td {
            vertical-align: top;
            padding: 0.5rem 1rem;
            border-right: 1px dashed #91ACC0;
            word-wrap: break-word;
            width: 10rem;
        }

        td + td {
            border: medium none;
            width: auto;
        }
    }

    .remarks {
        vertical-align: top;
        display: inline-block;
        max-width: 3 * 10rem + 3 * $gutter;
        min-height: 5rem;
        padding: $gutter;
        color: #777;
        background: rgba(0, 0, 0, 0.035);
    }

    .talent-actions {
        margin-top: 2*$gutter;
        margin-bottom: $gutter;

        a {
            margin-left: $gutter;
        }
    }

}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

a {
    text-decoration: none;
}

