/*===TITLES AND FONTS===*/
$gutter: 1rem;
$color-a: #259B24;
$color-b: #9CCC65; 
$color-c: #CDDC39;
$profile-diameter: 3rem;

body {
    //background: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #222;
}

pre {
    margin: 0;
}

section {
    margin: 2*$gutter;
}

p {
    margin: 0;
    margin-bottom: $gutter;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
}

h2 {
    margin: 0;
    margin-bottom: $gutter; 
    font-size: 2em;
    font-weight: 400;
    color: #3F51B5;
}

h3 {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 0;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*===CIRCULAR===*/
@mixin circular($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: $diameter/2;
}

/*===BRANDING===*/
.branding {
    margin: 0;
    color: white;
    padding: 2*$gutter;
    padding-bottom: 0;
    background-color: #3F51B5; 
}

@mixin paper {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}

/*===SEARCH===*/
.search {
    margin-bottom: 4*$gutter;

    input[type="text"] {
        font-size: 1.4em;
        display: inline-block;
        width: 75%;
        padding: 0.5em; 
        color: #999;
        outline: medium none;
        border: 2px solid #3F51B5;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
    }

    .button {
        margin-left: -7px;
        border: 2px solid #3F51B5;
        display: inline-block;
        width: 20%;
        font-size: 1.4em;
    }
}

/*===NAV===*/
nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-right: 2*$gutter;
        font-size: 1.4em;
        display: inline-block;
        &.active { 
            border-bottom: 5px solid #FFF9C4;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: .3s background-color;

        .icon {
            fill: #fff;
        }
    }
}

/*===TALENT===*/
.talents {
    @include paper;
}

section {
    max-width: 90rem;
}

.row {
    .rating {
        width: $profile-diameter;
    }
    .profile {
        width: $profile-diameter;
    }
    .name {
        width: 20rem;
    }
    .field-of-study {
        width: 10rem;
    }
    .met-where {
        width: 10rem;
    }
}

.row > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: $gutter;
}

.talent-header {
    @include paper;
    font-weight: 700;
    padding: $gutter;
    background-color: #3F51B5;
    border-radius: 2px;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);
}

.talent {
    padding: $gutter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);

    &:hover {
        background: rgba(0, 0, 0, 0.035);
        cursor: pointer;
    }

    .row {
        .profile {
            @include circular($profile-diameter);
        }
    } 
}

.talent.selected {
    @include paper;
    cursor: default;
    background-color: white;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    border-left: 5px solid #5677FC;
    
    .details {
        margin-top: $gutter;
    }

    .properties {
        display: inline-block;
        width: 2*$profile-diameter + 20rem + 3*$gutter;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0px;

        td {
            vertical-align: top;
            padding: 0.5rem 1rem;
            border-right: 1px dashed #91ACC0;
            word-wrap: break-word;
            width: 10rem;
        }

        td + td {
            border: medium none;
            width: auto;
        }
    }

    .remarks {
        vertical-align: top;
        display: inline-block;
        max-width: 3 * 10rem + 3 * $gutter;
        min-height: 5rem;
        padding: $gutter;
        color: #777;
        background: rgba(0, 0, 0, 0.035);
    }

    .talent-actions {
        margin-top: 2*$gutter;
        margin-bottom: $gutter;

        a {
            margin-left: $gutter;
        }
    }

}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

a {
    text-decoration: none;
}

/*===RATING===*/
.rating {
    @include circular($profile-diameter);
    color: white;
    font-size: 0.6 * $profile-diameter;
    line-height: $profile-diameter;
    text-align: center;
}

.rating-a {
    @extend .rating;
    background-color: $color-a;
}

.rating-b {
    @extend .rating;
    background-color: $color-b;
}

.rating-c {
    @extend .rating;
    background-color: $color-c;
}

/*===BUTTONS===*/
.button, button {
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
    background-color: #3F51B5;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;

    .icon {
        fill: white;
        margin-bottom: -0.1em;
    }
}

.button:hover {
    background-color: #1A237E;
}

/*===GITHUB BADGE===*/
.github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/*===EVENT TYPES===*/
#event-types > article {
    float: left;
    margin: 0.4em;
    width: 5em;
    background-color: #A6BFCE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: #fff;
    height: 5em;
    padding: 0.2em;
}

#event-types:before, #event-types:after {
    content: " ";
    display: table;
}

#event-types:after {
    clear: both;
}

.type {
    font-family: monospace; 
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

/*===CHART===*/
.chart {
    margin-top: 1em;
}

/*===TUTORIAL===*/
.tutorial code {
    min-height: 8em;
}

.tutorial-server, .tutorial-client {
    margin-top: 1em;
}

.tutorial:before, .tutorial:after {
    content: " ";
    display: table;
}

.tutorial:after {
    clear: both;
}

@media (min-width: 55em) {
    .tutorial-server {
        float: left;
        width: 49%;
    }

    .tutorial-client {
        margin-left: 2%;
        float: left;
        width: 49%;
    }
}
