/*===VARS===*/
$gutter: 1rem;
$profile-diameter: 3rem;
$accent-color: #3F51B5;
$accent-light-color: #5677FC;

/*===MIXINS===*/
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin circular($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: $diameter/2;
}

@mixin paper {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}

/*===MODULES===*/
@import 'base';
@import 'layout';
@import 'modules/talent';
@import 'modules/branding';
@import 'modules/search';
@import 'modules/rating';
@import 'modules/properties';
