/*===TITLES AND FONTS===*/
$gutter: 1rem;
$color-a: #259B24;
$color-b: #9CCC65; 
$color-c: #CDDC39;

body {
    //background: #EDEDED;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #222;
}

pre {
    margin: 0;
}

section {
    margin: 2*$gutter;
}

p {
    margin: 0;
    margin-bottom: $gutter;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
}

h2 {
    margin: 0;
    margin-bottom: $gutter; 
    font-size: 2em;
    font-weight: 400;
    color: #5677FC;
}

h3 {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 0;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*===CIRCULAR===*/
@mixin circular($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: $diameter/2;
}

/*===BRANDING===*/
.branding {
    margin: 0;
    color: white;
    padding: 2*$gutter;
    padding-bottom: 2*$gutter; 
    background-color: #3F51B5; 
}

@mixin paper {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}
/*===POOLS===*/
.pool {
    @include paper;
    width: 49%;
    max-width: 30rem;
    display: inline-block;
    box-sizing: border-box;

    .pool-wrapper {
       padding: $gutter;
       display: inline-block;
       vertical-align: top;
       box-sizing: border-box;
       width: 70%;
    }

    .pool-actions {
        border-top: 1px solid rgba(0, 0, 0, 0.067);
        width: 100%;
        padding-top: $gutter;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #5677FC;
            font-weight: 700;
        }
    }

    img {
        display: inline-block;
        width: 6rem; 
    }

    p {
        color: gray;
    }

    &:last-child {
        margin-left: 1%;
    }
}
/*===TALENT===*/

.talents {
    @include paper;
}

$profile-diameter: 48px;
.talent-header {
    font-weight: 700;
    padding: $gutter;
    background-color: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);

    > div { 
        display: inline-block;
        margin-right: $gutter;
    }

    .profile {
        width: $profile-diameter;
    }

    .name {
        width: 15rem;
    }

    .major {
        width: 10rem;   
    }

    .met {

    }
}

.talent {
    padding: $gutter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.067);

    &:hover {
        background: rgba(0, 0, 0, 0.035);
        cursor: pointer;
    }
    
    .row > div {
        display: inline-block;
        vertical-align: middle;
        margin-right: $gutter;
    }

    .name {
        width: 15rem;
    }

    .major {
        width: 10rem;   
    }

    .profile {
        @include circular($profile-diameter);
    }

    .details {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin-top: 3*$gutter;
        margin-bottom: $gutter;
    }

    .remarks {
        padding: $gutter;
        color: #777;
        display: block;
        background: rgba(0, 0, 0, 0.035);
    }

    .talent-actions {
        @extend clearfix;
        overflow: hidden;
        margin-top: $gutter;

        a {
            float: right;
            margin-left: $gutter;
        }
    }

    &.selected {
        .major, .met-where {
            display: block;
            width: auto;
        }

        .major {
            margin-top: $gutter;
        }

        b {
            width: 9rem;
            display: inline-block;
        }

        .row {
            display: inline-block;
            width: 50%;
        }

        @include paper;
        cursor: default;
        background-color: white;
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
        border-left: 5px solid #5677FC;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

a {
    text-decoration: none;
}

/*===RATING===*/
.rating {
    @include circular($profile-diameter);
    color: white;
    font-size: 0.6 * $profile-diameter;
    line-height: $profile-diameter;
    text-align: center;
}

.rating-a {
    @extend .rating;
    background-color: $color-a;
}

.rating-b {
    @extend .rating;
    background-color: $color-b;
}

.rating-c {
    @extend .rating;
    background-color: $color-c;
}

/*===BUTTONS===*/
.button {
    padding: 0.5em;
    text-decoration: none;
    background-color: #3F51B5;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;

    .icon {
        fill: white;
        margin-bottom: -0.1em;
    }
}

.button:hover {
    background-color: #1A237E;
}

/*===GITHUB BADGE===*/
.github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/*===EVENT TYPES===*/
#event-types > article {
    float: left;
    margin: 0.4em;
    width: 5em;
    background-color: #A6BFCE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    color: #fff;
    height: 5em;
    padding: 0.2em;
}

#event-types:before, #event-types:after {
    content: " ";
    display: table;
}

#event-types:after {
    clear: both;
}

.type {
    font-family: monospace; 
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

/*===CHART===*/
.chart {
    margin-top: 1em;
}

/*===TUTORIAL===*/
.tutorial code {
    min-height: 8em;
}

.tutorial-server, .tutorial-client {
    margin-top: 1em;
}

.tutorial:before, .tutorial:after {
    content: " ";
    display: table;
}

.tutorial:after {
    clear: both;
}

@media (min-width: 55em) {
    .tutorial-server {
        float: left;
        width: 49%;
    }

    .tutorial-client {
        margin-left: 2%;
        float: left;
        width: 49%;
    }
}
