{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="cover">
        {% include 'signup.html' %}
    </div>
    <div class="main">
        <section class="features">
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/shield.svg" alt="Protected by Swiss laws" />
                </div>
                <div class="desc">
                    <h3>{% trans "Based in Switzerland" %}</h3>
                    <p>
                    {% trans "Our servers are located in Switzerland and we are outside of US and EU jurisdiction. User data is protected by strict Swiss data protection laws." %}
                    </p>
                </div>
            </article>
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/dollar.svg" alt="lowest price" />
                </div>
                <div class="desc">
                    <h3>{% trans "Lowest Price" %}</h3>
                    <p>
                    {% trans "We have the lowest price on the market." %}
                    </p>
                </div>
            </article>
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/info.svg" alt="simplicity" />
                </div>
                <div class="desc">
                    <h3>{% trans "Simplicity" %}</h3>
                    <p>
                    {% trans "We are the email provider for non-technical persons. We will take care of everything for you." %}
                    </p>
                </div>
            </article>
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/infinity.svg" alt="no quotas" />
                </div>
                <div class="desc">
                    <h3>{% trans "Unlimited usage" %}</h3>
                    <p>
                    {% trans "We don't have quotas on mailbox size or amount of users." %}
                    </p>
                </div>
            </article>
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/eye.svg" alt="transparency" />
                </div>
                <div class="desc">
                    <h3>{% trans "Transparency" %}</h3>
                    <p>
                    {% trans "We are using Open Source software and have documented our infrastructure online." %}
                    </p>
                </div>
            </article>
            <article class="feature">
                <div class="circle">
                    <img class="icon" src="{{ STATIC_URL }}svg/browser.svg" alt="Control Panel" />
                </div>
                <div class="desc">
                    <h3>{% trans "Fully fledged Webmail" %}</h3>
                    <p>
                    {% trans "A simple, modern and fast webmail as good as Gmail." %}
                    </p>
                </div>
            </article>
        </section>
        <section class="pricing">
        </section>
    </div>
{% endblock %}
