{% load i18n %}
<section class="signup">
    <h2>{% trans "Create your personal mail address" %}</h2>
    <h2>{% trans "for only" %} <span class="accent">{{ price }}</span> {% trans "per month" %}</h2>
    <form method="get" action="/registration/domain/">
        <div>
            <input id="enter-domain" type="text" placeholder="{% trans 'Enter your email domain' %}" name="domain"></input>
            <select name="tld">
                {% for tld_value, tld_display in tlds %}
                <option value="{{ tld_value }}">{{ tld_display }}</option>
                {% endfor %}
            </select>
            <button class="button">{% trans "Create" %}</button>
        </div>
    </form>
</section>
